<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<header>
    <span class="title">Playlist</span>

    <a href="" class="konto">
        <div>
            <span>Konto</span>
        </div>
    </a>
</header>

<div class="main-content">
    <h1>Dodaj</h1>

    <form th:action="@{/}" method="post">
        <label>Nazwa</label>
        <input type="text" name="name" required>
        <label> autor</label>
        <input type="text" name="artist" required>
        <label> album</label>
        <input type="text" name="album" required>
        <button type="submit">Dodaj</button>
    </form>


</div>


</body>
</html>