<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <span class="title">Playlist</span>

    <a href="" class="konto">
        <div>
            <span>Konto</span>
        </div>
    </a>
</header>

<div class="main-content">
    <h1>Dodaj</h1>

    <form>
        <label>Nazwa</label>
        <input type="text">
        <label> autor</label>
        <input type="text">
        <label> album</label>
        <input type="text">
        <button>Dodaj</button>
    </form>


</div>


</body>
</html>