<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<header>
    <span class="title">Playlist</span>

    <a href="" class="konto">
    <div>
        <span>Konto</span>
    </div>
    </a>
</header>

<div class="main-content">
    <div class="song" th:each="song : ${songs}">
        <p class="song-name" th:text="${song.name}"></p>
        <img th:src="@{${song.album}}">
        <div>
        <span>Wykonawca: </span>
        <span th:text="${song.artist}"></span>
    </div>

    <a href="" class='add-btn'>Dodaj</a>
        </div>



</div>
</body>
</html>