.container {
  padding: 40px;
    color: white;
    background-color: #0d0d0d;
    border-radius: 10px;
    width: 1000px;
    margin: 0 auto;
    border: 2px solid #ff00cc;
    box-shadow: 0px 0px 25px rgba(255, 0, 179, 0.7);
  }

  .heading {
    font-size: 30px;
    color: #ff00cc;
    text-align: center;
    margin-bottom: 30px;
    text-shadow: 0px 0px 12px #ff00cc;
  }
  

  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
  .form > div {
    display: flex;
    flex-direction: column;
  }
  
  .label {
    font-size: 16px;
    margin-bottom: 5px;
    color: #ecf0f1;
    
  }
  
  .inputAddPage {
    padding: 10px;
    border: 1px solid #95A5A6;
    border-radius: 5px;
    outline: none;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    
    
  }
  
  .fileInput {
    padding: 10px;
    border: 1px solid #95A5A6;
    border-radius: 5px;
    display: none;
  }
  
  .addButton {
    padding: 10px 20px;
    background-color: #b5037c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    justify-content: center;
    
  }
  
  .addButton:hover {
    background-color: #9b1e6b;
  }
  
  .successMessage {
    text-align: center;
    font-size: 16px;
    color: green;
  }
  
  .errorMessage {
    text-align: center;
    font-size: 16px;
    color: red;
  }

  .customButton {
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    margin-top: 5px;
  }
  
  .customButton:hover {
    background-color: #0056b3;
  }
  
  .centerDiv {
    grid-column: 1 / -1; 
    display: flex;
    justify-content: center;
  }


  @media (max-width: 768px) {
    .container {
        padding: 20px;
        width: auto;
    }

    .heading {
        font-size: 24px;
    }

    .form {
        display: flex;
        flex-direction: column; /* Zmiana na jedną kolumnę dla telefonów */
    }

    .form > div {
        width: 100%; /* Zapewnienie pełnej szerokości dla elementów formularza */
    }

    .inputAddPage {
        padding: 8px;
    }

    .addButton {
        padding: 8px 15px;
        font-size: 14px;
    }
}