
.detailsContainer {
  position: relative;
  background: #0d0d0d;
  border: 2px solid #ff00cc;
  border-radius: 10px;
  padding: 20px;
  max-width: 900px;
  margin: 40px auto;
  margin-top: 50px;
  box-shadow: 0px 0px 20px rgba(209, 18, 200, 0.7);
  color: #e0f7fa;
  font-family: 'Cursive';
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 2.5rem;
  color: #ff00cc;
  text-shadow: 0px 0px 8px #ff00cc;
  margin-bottom: 30px;
  text-align: center;
}

.detailsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.labelAudio {
  color: #ff00cc;
  font-weight: bold;
  margin-right: 10px;
  text-shadow: 0px 0px 6px #ff00cc;
}

.value {
  color: #e0f7fa;
}

.coverArt {
  margin-top: 20px;
  width: 60%;
  border: 3px solid #ff00cc;
  box-shadow: 0px 0px 15px rgba(0, 255, 204, 0.5);
  border-radius: 10px;
}

.audioPlayer {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  border: 2px solid #ff00cc;
  border-radius: 10px;
  box-shadow: 0px 0px 12px rgba(173, 11, 138, 0.7);
}

audio {
  width: 100%;
  background-color: #0d0d0d;
  border: none;
}

.audioPlayer audio::-webkit-media-controls-panel {
  background-color: #ffffff;
  color: #ff00cc;
}

.backContainer {
  position: absolute;
  top: -50px;
  left: 10px;
}

.backButton {
  background-color: #5a2650;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  transition: background-color 0.3s;
  justify-content: center;


}

.backButton:hover {
  background-color: #e600b3;
}


.cover {
  text-align: center;
}

.downloadButton {
  display: inline-block;
  background-color: #d82bbb;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
  margin-top: 15px;
}

.downloadButton:hover {
  background-color: #881b79;
}

@media (max-width: 768px) {
  .detailsGrid {
    grid-template-columns: 1fr;
  }
  
  .title {
    font-size: 2rem;
  }
}
